{% extends 'base.html' %}



{%block title%} Travel Website {%endblock%}


{%block content%}

<!-- Home Section Starts -->
{% if user.is_authenticated %}
{% for message in messages %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Check if the user is authenticated
    // Show the user information in a popup
    var popupContent = '{{ message|safe }}';

    // Create a Bootstrap modal
    var popupModal = new bootstrap.Modal(document.getElementById('popupModal'));

    // Set the content of the modal
    document.getElementById('popupContent').innerHTML = popupContent;

    // Show the modal
    popupModal.show();

    // Fix for close button
    var closeBtn = document.querySelector('.modal .btn-closed');
    closeBtn.addEventListener('click', function () {
      popupModal.hide();
    });
  });
</script>
{% endfor %}



<!-- Add this HTML for the modal -->
<div class="modal" id="popupModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->

      <!-- Modal Body -->
      <div class="modal-body" id="popupContent">
        <!-- User information will be inserted here -->
      </div>

      <div class="modal-header">
        <button type="button" class="btn-closed" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endif %}

<div class="home">
  <div class="content">
    <h1>Welcome To World</h1>
    <h5>Visit <span style="position: absolute; margin-left: 5px;" class="changecontent"></span></h5>
    <a href="/book">BOOK PLACE</a>
  </div>
</div>
<!-- Home Section ends -->

<!-- Section Gallery Starts -->
<section class="gallary" id="gallary">
  <div class="container">

    <div class="main-text">
      <h1><span>G</span>allery</h1>
    </div>

    <div class="row" style="margin-top: 30px;">

      {% for gal in gals %}
      <div class="col-md-4 py-3 py-md-0" style="margin: 15px 0">
        <div class="card">
          <img src="/media/{{gal.image}}" alt="" height="230px">
        </div>
      </div>
      {% endfor %}

    </div>

  </div>
</section>
<!-- Section Gallery ends -->

<!-- About Starts -->
<section class="about" id="about">
  <div class="container">

    <div class="main-text">
      <h1>About <span>Us</span></h1>
    </div>

    <div class="row" style="margin-top: 50px;">

      <div class="col-md-6 py-3 py-md-0">
        <div class="card">
          <img src="../media/about-img.png" alt="">
        </div>
      </div>

      <div class="col-md-6 py-3 py-md-0">
        <h2>How Traval Agency Work</h2>
        <p>Travel agencies serve as intermediaries, connecting travelers with tailored experiences. Clients share their
          preferences, and agencies leverage partnerships with airlines, hotels, and tour operators to curate
          personalized itineraries. From booking flights to arranging accommodations, these agencies simplify travel
          logistics, ensuring a seamless journey...</p>
        <a href="/about"><button id="about-btn">Read More</button></a>
      </div>

    </div>

  </div>
</section>
<!-- About Ends -->

{%endblock%}





<!-- 




<nav class="navbar navbar-expand-lg" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="/home" id="logo"><span><i class="fa-solid fa-plane-up"></i>T</span>ravel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span><i class="fa-solid fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/book">Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/packages">Packages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home/#gallary">Gallary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <form class="d-flex">
        <div class="dropdown">
          <button class="btn btn-secondary" name="gender" type="button" data-bs-toggle="dropdown"
            aria-expanded="false" id="genderDropdown"
            style="background: black; height: 50px; width: 50px; font-size: 25px; border-radius: 50px;">
            <i class="fa-solid fa-user"></i>
          </button>
          <ul class="dropdown-menu" style="padding-left: 10px;">
            <li><a class="dropdown-item" href="#"> <i class="fas fa-user-alt pe-2"></i>My Profile</a></li>
            <li><a class="dropdown-item" href="#"> <i class="fas fa-door-open pe-2"></i>Logout</a></li>
          </ul>
        </div>
      </form>

      {% else %}
      <form class="d-flex">
        <a href="/signup"><button class="btn btn-primary" type="button" style="margin-right: 5px;">SIGN
            UP</button></a>
        <a href="/signin"><button class="btn btn-primary" type="button" style="background: red;">SIGN IN</button></a>
      </form>
      {% endif %}
    </div>
  </div>
</nav> -->