{% extends 'base.html' %}



{% block title %} Services {% endblock %}

{% block content %}

<!-- Section Services Starts -->
<section class="services" id="services">
  <div class="container">

    <div class="main-text">
      <h1><span>S</span>ervices</h1>
    </div>

    <div class="row" style="margin-top: 30px;">

      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <i class="fas fa-hotel"></i>
          <div class="card-body">
            <h3>Affordable Hotel</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, nam.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <i class="fas fa-utensils"></i>
          <div class="card-body">
            <h3>Food And Drinks</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, nam.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <i class="fas fa-bullhorn"></i>
          <div class="card-body">
            <h3>Safety Guide</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, nam.</p>
          </div>
        </div>
      </div>

    </div>


    <div class="row" style="margin-top: 30px;">

      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <i class="fas fa-globe-asia"></i>
          <div class="card-body">
            <h3>Around The World</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, nam.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <i class="fas fa-plane"></i>
          <div class="card-body">
            <h3>Fastest Travel</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, nam.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <i class="fas fa-hiking"></i>
          <div class="card-body">
            <h3>Adventures</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, nam.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Section Services Ends -->

{% endblock %}